.skeleton-img {
  width: 100%;
  height: 200px; /* Increase height for better visibility */
  background-color: #eee;
}

.skeleton-title {
  width: 100%;
  height: 60px; /* Increased height for better visibility */
  margin: 10px 0;
  background-color: #eee;
}

.skeleton-text {
  width: 100%;
  height: 300px; /* Increased height for better visibility */
  margin: 10px 0; /* Adjusted margin for better spacing */
  background-color: #eee;
}

.skeleton-link {
  width: 150px; /* Adjusted width for better visibility */
  height: 30px;
  background-color: #eee;
  margin-top: 10px;
}
